.header{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLeft, .headerRight{
    display: flex;
    align-items: center;
}
.header_icon{
    width: 100px;
    cursor: pointer;
}
/* anchor type */
a>span{ 
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}
a > span:hover {
    color: red;
}
.user__avatar {
    font-size: 2rem;
}